# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [1]:
import pandas as pd
import numpy as np

baseDemo01 = pd.read_csv('demo01.csv')
baseDemo01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [2]:
baseDemo01.shape

(16650, 16)

In [3]:
baseDemo01.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [4]:
baseDemo01.mau.value_counts()

False    16260
True       390
Name: mau, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [5]:
# 1.
informacoes = pd.DataFrame(data={'tipos_dados': baseDemo01.dtypes})

In [6]:
# 2.
for coluna in baseDemo01.columns:
    informacoes.loc[coluna, 'qtd_categorias'] = len(baseDemo01[coluna].unique())
informacoes

                      tipos_dados  qtd_categorias
sexo                       object             2.0
posse_de_veiculo           object             2.0
posse_de_imovel            object             2.0
qtd_filhos                  int64             8.0
tipo_renda                 object             5.0
educacao                   object             5.0
estado_civil               object             5.0
tipo_residencia            object             6.0
idade                     float64          5298.0
tempo_emprego             float64          3005.0
possui_celular              int64             1.0
possui_fone_comercial       int64             2.0
possui_fone                 int64             2.0
possui_email                int64             2.0
qt_pessoas_residencia     float64             9.0
mau                          bool             2.0

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [7]:
baseDemo01.sexo = baseDemo01.sexo.map({'M': 1, 'F': 0})
baseDemo01.posse_de_veiculo = baseDemo01.posse_de_veiculo.map({'Y': 1, 'N': 0})
baseDemo01.posse_de_imovel = baseDemo01.posse_de_imovel.map({'Y': 1, 'N': 0})

baseDemo01 = pd.get_dummies(baseDemo01, columns=['tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia'], drop_first=True)
baseDemo01.mau = baseDemo01.mau.astype(int)

In [8]:
baseDemo01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   sexo                                    16650 non-null  int64
 1   posse_de_veiculo                        16650 non-null  int64
 2   posse_de_imovel                         16650 non-null  int64
 3   qtd_filhos                              16650 non-null  int64
 4   idade                                   16650 non-null  float64
 5   tempo_emprego                           16650 non-null  float64
 6   possui_celular                          16650 non-null  int64
 7   possui_fone_comercial                   16650 non-null  int64
 8   possui_fone                             16650 non-null  int64
 9   possui_email                            16650 non-null  int64
 10  qt_pessoas_residencia                   16650 non-null  float64
 11  mau                                     16650 non-null  int32
 12  tipo_renda_Pensioner                    16650 non-null  uint8
 13  tipo_renda_State servant                16650 non-null  uint8
 14  tipo_renda_Student                      16650 non-null  uint8
 15  tipo_renda_Working                      16650 non-null  uint8
 16  educacao_Higher education               16650 non-null  uint8
 17  educacao_Incomplete higher              16650 non-null  uint8
 18  educacao_Lower secondary                16650 non-null  uint8
 19  educacao_Secondary / secondary special  16650 non-null  uint8
 20  estado_civil_Married                    16650 non-null  uint8
 21  estado_civil_Separated                  16650 non-null  uint8
 22  estado_civil_Single / not married       16650 non-null  uint8
 23  estado_civil_Widow                      16650 non-null  uint8
 24  tipo_residencia_House / apartment       16650 non-null  uint8
 25  tipo_residencia_Municipal apartment     16650 non-null  uint8
 26  tipo_residencia_Office apartment        16650 non-null  uint8
 27  tipo_residencia_Rented apartment        16650 non-null  uint8
 28  tipo_residencia_With parents            16650 non-null  uint8
dtypes: float64(3), int32(1), int64(8), uint8(17)
memory usage: 1.7 MB

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [9]:
pd.crosstab(baseDemo01['mau'], [baseDemo01['possui_email'], baseDemo01['posse_de_veiculo']])

possui_email         0          1
posse_de_veiculo     0     1    0    1
mau
0                 9108  5702  823  627
1                  233   127   14   16

In [10]:
pd.crosstab(baseDemo01.loc[baseDemo01['mau'] == 1, 'possui_email'], baseDemo01.loc[baseDemo01['mau'] == 1, 'posse_de_veiculo'])

posse_de_veiculo    0    1
possui_email
0                 233  127
1                  14   16

O cruzamento entre as tabelas nos mostra que não existe uma certa relação entre as colunas.
Para um melhor entendimento foi realizado dois tipo de cruzamentos, com as 3 colunas (Possui email, 
Posse de veículos e mau, sendo o primeiro cruzamento) e um cruzamento com duas colunas (Possui email, 
Posse de veículos) tendo mau como filtro.

O que podemos notar é que existe uma maior relação nos números sobre a variável Posse de veículo.
Se observarmos o segundo cruzamento (notando uma pequena parcela dos números), vemos que não ter um veículo nos trás
uma maior probabilidade.

Já quando observamos o primeiro cruzamento, notamos que possuir ou não possuir ambas as variáveis, mostra que
a maior fatia é para quem é mau = 0.

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [12]:
baseDemo01.to_csv('credito.csv', index=False)